*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1500px; 
    margin: 0 auto; 
    
    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #2A2727;
    padding: 40px;
    padding-top: 40px;
    

}
.logo{
    color: white;
}
.logo h1{
    font-size:x-large;   
    padding-left: 20px;
}


.menu ul{
    list-style: none;
}

.menu ul li{
    float: left;
    margin-left: 40px;
    
}
.menu  a {
    font-size: medium;
    color:white;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }
  .menu a:hover{
    color: #ccc;
  }

  .text-overlay  {
    position: absolute; 
    color: white;
  }
  .top-text{
    
    font-size: 100px; 
    font-weight: bold; 
    top: 45%; 
    left: 5%; 
    
  }
  .botom-text{
    font-size: 20px; 
    font-weight: bold; 
    top: 60%; 
    left: 10%;
  }
  .text-under-banner {
    background-color: #2A2727;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    
  }
  .text-under-banner h2{
   margin-left: 80px;
    font-size: 38px;
    line-height: 50px;
  }
  .content h2{
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 60px;
    font-size: 50px;
    
  }
  .product{
    display:flex ;
    
    
  }
  .item{
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 60px;
    
  }
  .item h3{
    font-size: 30px;
  }
  .item p{
    font-size: 30px;
  }
  .view-button{
    background-color: #312D2D;
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 50px 60px ;
    font-family: inka-fontawesome;
    font-size: 25px;
    margin-bottom: 150px;
  }

  .we-care {
    display: flex;
    background-color: #A29C9C;
    padding-top: 50px;
    padding-bottom: 50px;

    
  }
  .img-care{
    padding-left: 200px;
  
  }
  .text-care{
    margin: 40px;
    padding-top: 50px;
  }
  .text-care h3 {
    padding-left: 180px;
    font-size: 40px;
  }
  .text-care p {
    padding-left: 180px;
    font-size: 20px;
    padding-top: 40px;
    padding-right: 135px;
    

  }
  .left-item2{
    margin: 40px;
    padding-top: 40px;
    padding-right: 50px;
  }
  .item2{
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 60px;
    
  }
  .item2 h3{
    font-size: 28px;
    padding-bottom: 20px;
  }
  .item2 p{
    font-size: 22px;
  }
  .book-table {
    background-color: #2A2727;
    padding-top: 120px;
    color: white;
    
  }
  .book-table h2{
    margin-left: 90px;
    font-size: 50px;
    padding-bottom: 20px;
    line-height: 50px;
  }
  .book-table p{
    margin-left: 90px;
    font-size: 25px;
    margin-right: 850px;
    line-height: 40px;
  }
  .book-table-button{
    background-color: #fff;
    color: #000;
    padding: 20px 35px 20px 35px;
    margin: 80px 90px ;

    font-size: 22px;

  }
  .footer{
    display: flex;
  }
  .footer-left{
    margin-left: 80px;
    margin-top: 20px;
  }
  .footer-left p{
margin-top: 40px;
margin-bottom: 40px;
font-style: italic;
font-size: 20px;
  }
  .footer-right{
    margin-left: 280px;
    margin-top: 40px;
  }
  .footer-right p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 20px;
  }

  .content2 h2{
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 60px;
    font-size: 50px;
 
  }
  .content2{
    border-top: 1px solid #000;
 

   
  }